* {
    margin: 0;
    padding: 0;
    --white: rgb(255, 255, 255);
    --red: rgb(218, 0, 33);
    --gold: rgb(226, 196, 63);
    --black: rgb(0, 0, 0);
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.gold-scheme {
    background-color: var(--gold);
    color: var(--black);
    border-color: var(--gold);
}

button.gold-scheme:hover {
    background-color: var(--black);
    color: var(--gold);
    cursor: pointer;
}

.red-scheme {
    background-color: var(--red);
    color: var(--white);
    border-color: var(--red);
}

button.red-scheme:hover {
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}



/* Header styling*/
header {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.page-header {
    padding: 8px;
    line-height: 0.7;
    font-family: serif;
}

/* Input section styling*/

.input-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.input-label {
    font-size: 18px;
}

.number-input {
    margin: 0 16px 0 8px;
    text-align: right;
    font-size: 18px;
}

.fetch-button {
    font-size: 18px;
    padding: 8px 16px;
    
    border: 1px solid;
    border-radius: 100px;
}

/*.fetch-button:hover {
    background-color: var(--white);
    color: var(--red);
}*/

.main-art-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.art-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--red);
    
}

#object-image {
    max-width: 90%;
    margin-bottom: 16px;
    
}

.art-info {
    padding: 24px;
    float: left;
    color: var(--white);
    font-family: serif;
    font-size: 24px;
}

@media screen and (min-width: 600px) {

    
    
    .art-info-container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .art-info {
        font-size: 18px;
        flex-basis: 25%;
    }

}

@media screen and (min-width: 1024px) {

    .main-art-container {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 5%;
    }


    .art-info-container {
        width: 60%;
        text-align: center;
        height: 100%;
        
    }

    #art-title {
        flex-basis: 100%;
    }

    .art-info {
        padding: 24px 0;
        width: 50%;
        flex-basis: 50%;
        font-size: 24px;
    }
}

